//- ---------------------------- paginador ------------------------------- //
mixin link(href, name)
	//- attributes == {class: "btn"}
	a(href=href)= name
	
	//- +link('/foo', 'foo')(class="btn")
	
	
//- ---------------------------- Side menu ------------------------------- //
									
mixin nav
	div.menu-side
		ul#top-menu
			each project in projects
				li: a(href=project.link)= project.name
				
								

//- ---------------------------- Accordion ------------------------------- //
mixin accordion(id)
	.panel-group(id="accordion"+id, role="tablist", aria-multiselectable="true")
		block

//- accordion-item
mixin accordion-item(type,title,parent,expanded)
	-var id = title.replace(/[^a-zA-Z0-9]/g,'_')
	.panel(class="panel-"+type)
		.panel-heading(role="tab", id="heading"+title)
			h4.panel-title
				a(data-toggle="collapse", data-parent="#accordion"+parent, href="#collapse"+id, aria-expanded="true" ,aria-controls="collapseOne")
					= title
		unless expanded
			.panel-collapse.collapse(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block
		else
			.panel-collapse.collapse.in(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block

//- accordion-item-default
mixin accordion-item-default(title,parent,expanded)
	+accordion-item("default",title,parent,expanded)
		block

//- accordion-item-primary
mixin accordion-item-primary(title,parent,expanded)
	+accordion-item("primary",title,parent,expanded)
		block

//- accordion-item-info
mixin accordion-item-info(title,parent,expanded)
	+accordion-item("info",title,parent,expanded)
		block

//- accordion-item-success
mixin accordion-item-success(title,parent,expanded)
	+accordion-item("success",title,parent,expanded)
		block

//- accordion-item-warning
mixin accordion-item-warning(title,parent,expanded)
	+accordion-item("warning",title,parent,expanded)
		block

//- accordion-item-danger
mixin accordion-item-danger(title,parent,expanded)
	+accordion-item("danger",title,parent,expanded)
		block

//- usage

//- ----------------------------
//- ---------------------------- Swiper Container ------------------------------- //
//- ----------------------------

// initialization
- blocks = {}

mixin set(key)
	- blocks[key] = this.block

// mixin definition
mixin swiper-container
	div.swiper-container
		div.swiper-wrapper
			block
			- blocks.content()
		
		div.swiper-pagination
		


//- ----------------------------
//- ---------------------------- Neuronas ------------------------------- //
//- ----------------------------

// initialization
- blocks = {}

mixin set(key)
	- blocks[key] = this.block
	

// mixin neuronas left
mixin swiper-info-left(numneurona)
	div.swiper-slide(id=numneurona)
		div.image-neurona
			block
			- blocks.contentsvg()
		
		div.content-neurona
			div.close-button: img(src='images/svg/close.svg')
			div
				block
				- blocks.contentinfo()	
				
				
// mixin neuronas left
mixin swiper-info-right(numneurona)
	div.swiper-slide(id=numneurona)
		
		div.content-neurona
			div.close-button: img(src='images/svg/close.svg')
			div
				block
				- blocks.contentinfo()	
				
		div.image-neurona
			block
			- blocks.contentsvg()


// mixin neuronas individuales
mixin swiper-home(numneurona)
	div.swiper-slide(id=numneurona)
		div.home
			block
			- blocks.content()
				
				
					
				
				
