//- ---------------------------- paginador ------------------------------- //
mixin link(href, name)
	//- attributes == {class: "btn"}
	a(href=href)= name
	
	//- +link('/foo', 'foo')(class="btn")
	
	
//- ---------------------------- Side menu ------------------------------- //
									
mixin nav
	div.menu-side
		ul#top-menu
			each project in projects
				li: a(href=project.link)= project.name
				
								

//- ---------------------------- Accordion ------------------------------- //
mixin accordion(id)
	.panel-group(id="accordion"+id, role="tablist", aria-multiselectable="true")
		block

//- accordion-item
mixin accordion-item(type,title,parent,expanded)
	-var id = title.replace(/[^a-zA-Z0-9]/g,'_')
	.panel(class="panel-"+type)
		.panel-heading(role="tab", id="heading"+title)
			h4.panel-title
				a(data-toggle="collapse", data-parent="#accordion"+parent, href="#collapse"+id, aria-expanded="true" ,aria-controls="collapseOne")
					= title
		unless expanded
			.panel-collapse.collapse(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block
		else
			.panel-collapse.collapse.in(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block

//- accordion-item-default
mixin accordion-item-default(title,parent,expanded)
	+accordion-item("default",title,parent,expanded)
		block

//- accordion-item-primary
mixin accordion-item-primary(title,parent,expanded)
	+accordion-item("primary",title,parent,expanded)
		block

//- accordion-item-info
mixin accordion-item-info(title,parent,expanded)
	+accordion-item("info",title,parent,expanded)
		block

//- accordion-item-success
mixin accordion-item-success(title,parent,expanded)
	+accordion-item("success",title,parent,expanded)
		block

//- accordion-item-warning
mixin accordion-item-warning(title,parent,expanded)
	+accordion-item("warning",title,parent,expanded)
		block

//- accordion-item-danger
mixin accordion-item-danger(title,parent,expanded)
	+accordion-item("danger",title,parent,expanded)
		block

//- usage

//- ----------------------------
//- ---------------------------- Swiper Container ------------------------------- //
//- ----------------------------

// initialization
- blocks = {}

mixin set(key)
	- blocks[key] = this.block

// mixin definition
mixin swiper-container
	div.swiper-container
		div.swiper-wrapper
			block
			- blocks.content()
		
		div.swiper-pagination
		
		div.swiper-scrollbar
		


//- ----------------------------
//- ---------------------------- Neuronas ------------------------------- //
//- ----------------------------

// initialization
- blocks = {}

mixin set(key)
	- blocks[key] = this.block
	

// mixin neuronas left
mixin swiper-info-left(numneurona, classneurona)
	div.swiper-slide(id=numneurona class=classneurona)
		div.swiper-lazy-preloader
			div.image-neurona
				block
				- blocks.contentsvg()
			
			div.content-neurona
				div.close-button: img(src='images/svg/close.svg')
				div
					block
					- blocks.contentinfo()	
				
				
// mixin neuronas left
mixin swiper-info-right(numneurona, classneurona)
	div.swiper-slide(id=numneurona class=classneurona)
	
		div.swiper-lazy-preloader
		
			div.content-neurona
				div.close-button: img(src='images/svg/close.svg')
				div
					block
					- blocks.contentinfo()	
					
			div.image-neurona
				block
				- blocks.contentsvg()


// mixin neuronas individuales
mixin swiper-home(numneurona)
	div.swiper-slide(id=numneurona)
		div.home.swiper-lazy-preloader
			block
			- blocks.content()
				
				
					
//- ----------------------------
//- ---------------------------- Anexos ------------------------------- //
//- ----------------------------
mixin anexos
	div.acordiones
		h5 Anexos
		div
			p Reglamentos / Políticas
			ul
				li: a(href="https://www.unbosque.edu.co/nuestro-bosque/documentos-de-consulta" target="_blank") Documentos de consulta - (Página Universidad El Bosque) 
			
			p Producción Grupo Osiris
			ul
				li: a(href="PDF/anexos/Produccion-Grupo-OSIRIS/PlantillaInvestigac-SACES_IS2019.xls" download) Plantilla Investigación SACES IS 2019 (Descargar Excel)
				li: a(href="PDF/anexos/Produccion-Grupo-OSIRIS/plantilla-publicaciones-SACES-OSIRIS_BIOAXIS-2019_1.xls" download) Plantilla Publicaciones SACES OSIRIS & BIOAXIS (Descargar Excel)
				
			p Políticas
			ul
				li: a(href="https://www.unbosque.edu.co/nuestro-bosque/documentos-de-consulta" target="_blank") Documentos de consulta - Página Universidad El Bosque (Página Universidad El Bosque) 
				
			p Planes de Desarrollo
			ul
				li: a(href="PDF/anexos/Planes-de-Desarrollo/Plan-de-Desarrollo-Institucional-2016-2021.pdf" data-lity="") Plan de Desarrollo Institucional 2016-2021 (PDF)
				li: a(href="PDF/anexos/Planes-de-Desarrollo/Plan-de-Desarrollo-Facultad-de-Ingeniería-2016-2021.pdf" data-lity="") Plan de Desarrollo Facultad de Ingeniería 2016-2021 (PDF)
				
			p PEP
			ul
				li: a(href="PDF/anexos/PEP/PEP_IngSistemas_2015-v150723_Def.pdf" data-lity="") PEP Ingeniería de Sistemas 2015 (PDF)
				
			p Otros Documentos
			ul
				li: a(href="PDF/anexos/Otros-Documentos/Universidad-El-Bosque-Internationalization-Lab-Peer-Review-Report.pdf" data-lity="") Universidad El Bosque - Internationalization Lab Peer Review Report (PDF)
				
				
				